@import url("http://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap");
* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPC {
  width: 240px;
  margin-left: -10px;
  margin-right: 20px;
}

#button {
  padding: 15px 35px;
}

.footer {
  background-color: black;
  height: 10vh;
  font-size: 12px;
  font-weight: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copyHMD {
  color: #555252;
}

.downloadsDesc {
  background-color: black;
  height: 85vh;
  padding-top: 300px;
}

.email {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.email:hover {
  border-bottom: 1px solid #b9b9b9;
  color: #b9b9b9;
}

@media (max-width: 449px) {
  .downloadsDesc button {
    margin: 10px 0px;
  }
}
@media (max-width: 405px) {
  .logoPC {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-height: 350px) {
  .logoPC {
    width: 150px;
    margin-top: 15px;
  }
}
.container00.container01 {
  background-image: url(../../imagens/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../imagens/home/03.jpg);
}
.container00.container03 {
  background-image: url(../../imagens/home/02.gif);
}
.container00.container04 {
  background-image: url(../../imagens/home/04.jpg);
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: 25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 30px;
  }
}
.container00.container05 {
  background-image: url(../../imagens/falcon9/01.jpg);
}
.container00.container06 {
  background-image: url(../../imagens/falcon9/02.jpg);
}
.container00.carousel01 {
  background-image: url(../../imagens/falcon9/03.jpg);
}
.container00.carousel02 {
  background-image: url(../../imagens/falcon9/04.jpg);
}
.container00.carousel03 {
  background-image: url(../../imagens/falcon9/05.jpg);
}
.container00.carousel04 {
  background-image: url(../../imagens/falcon9/06.jpg);
}
.container00.carousel05 {
  background-image: url(../../imagens/falcon9/07.jpg);
}
.container00.container07 {
  background-image: url(../../imagens/falcon9/08.jpg);
}

.titleFalcon9 {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 514px;
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNumb {
  font-size: 90px;
}
.numbers .subTitleNumb {
  font-size: 20px;
}

.falcon9Desc {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carrosselSlide img {
  height: 100vh;
}

.carousselText {
  background-color: black;
}

.button {
  border: 2px solid white;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .numbers .titleNumb {
    font-size: 80px;
  }
  .numbers .subTitleNumb {
    font-size: 18px;
  }
  .falcon9Desc {
    width: auto;
  }
  #overViewPosition {
    padding-top: 35%;
  }
}
@media (max-width: 575px) {
  .numbers {
    height: 60vh;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
}
@media (max-width: 375px) {
  .titleFalcon9 {
    font-size: 50px;
  }
  .falcon9Desc {
    font-size: 18px;
    line-height: auto;
  }
  .subTitleFalcon {
    font-size: 16px;
  }
}
.container00.container08 {
  background-image: url(../../imagens/humanFlight/01.jpg);
}
.container00.container09 {
  background-image: url(../../imagens/humanFlight/02.jpg);
}
.container00.container10 {
  background-image: url(../../imagens/humanFlight/03.jpg);
}
.container00.container11 {
  background-image: url(../../imagens/humanFlight/04.jpg);
}
.container00.container12 {
  background-image: url(../../imagens/humanFlight/05.jpg);
}

.container01Content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container01Content .titleHuman {
  font-size: 120px;
}
.container01Content .subTitleHuman {
  font-size: 30px;
  font-weight: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.earthDesc {
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.earthDesc .textDescEarth {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 20px;
  width: 800px;
}

.containerRightContent {
  margin-left: 60%;
  padding-top: 15%;
}

.titleSection {
  font-size: 60px;
  font-weight: bold;
}

.subTitle {
  font-weight: 300;
  margin-bottom: 40px;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}

@media (max-width: 768px) {
  .container01Content .titleHuman {
    font-size: 90px;
  }
  .container01Content img {
    width: 150px;
  }
  .containerRightContent {
    margin-left: 15%;
  }
  .containerLeftContent {
    margin-left: 15%;
  }
  .earthDesc .textDescEarth {
    color: #d8d8d8;
    font-weight: 400;
    font-size: 18px;
    width: auto;
  }
}
@media (max-width: 610px) {
  .container01Content .titleHuman {
    font-size: 60px;
  }
  .container01Content .subTitleHuman {
    font-size: 24px;
  }
  .container01Content img {
    width: 150px;
  }
  .containerRightContent {
    margin-left: 5%;
  }
  .containerLeftContent {
    margin-left: 5%;
  }
  .titleSection {
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .container01Content .titleHuman {
    font-size: 40px;
  }
  .container01Content .subTitleHuman {
    font-size: 24px;
  }
  .container01Content img {
    width: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
