.container00{
  &.container01{
    background-image: url(../../imagens/home/01.jpg);
  }
  &.container02{
    background-image: url(../../imagens/home/03.jpg);
  }
  &.container03{
    background-image: url(../../imagens/home/02.gif);
  }
  &.container04{
    background-image: url(../../imagens/home/04.jpg);
  }
}

.titlePadding{
  padding-top: 200px;
}

.shortTitle{
  width: 550px;
  margin-bottom: 25px;
}

.mediumTitle{
  width: 650px;
  margin-bottom: 25px;
}

@media (max-width:750px){
  .titlePadding{
    padding-top: 120px;
  }

  .shortTitle,
  .mediumTitle{
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px){
  .shortTitle,
  .mediumTitle{
    width: auto;
    font-size: 30px;
}
}